body {
	background-color: #922338;
	font-family: Verdana, serif;
}

h1 {
	text-align:center;
}

.header {
	color:white;
}

div {
	padding:10px;
	margin:5px;
	border-radius:20px;

}
div.container {
	width:50%;
	min-width:600px;
	margin-left:auto;
	margin-right:auto;
}
div.displayingForm {
	background-color:rgb(213,190,160);
}

div.displayingResults{
	background-color:rgb(213,190,160);
}

div.displayingResults table{
	border: 2px solid black;
	border-collapse: collapse; 
	background-color:#FFF3E5;
}

div.displayingResults thead {
	border-bottom:2px solid black;
}

div.displayingResults tr {
	border-bottom:1px solid black;
	text-align:center;
}	

div.displayingResults th {
	width:200px;
}

input {
    border-radius: 5px;
}